Repository LumaPictures/cg-stubs: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check_yaml, check_toml, precommit_gen, self_mypy

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: black
    name: black
    entry: nox
    args: [-s, black, --no-install, --]
    language: system
    pass_filenames: true
    require_serial: true
    stages:
    - commit
    - push
    - manual
    files: ^.*/[^/]*[.]py$
  - id: check_yaml
    name: check_yaml
    entry: nox
    args: [-s, check_yaml, --no-install, --]
    language: system
    pass_filenames: true
    require_serial: false
    stages:
    - commit
    - push
    - manual
    files: ^.*[.](yaml|yml)$
  - id: check_toml
    name: check_toml
    entry: nox
    args: [-s, check_toml, --no-install, --]
    language: system
    pass_filenames: true
    require_serial: false
    stages:
    - commit
    - push
    - manual
    files: ^.*[.]toml$
  - id: precommit_gen
    name: precommit_gen
    entry: nox
    args: [-s, precommit_gen, --no-install, --]
    language: system
    pass_filenames: false
    require_serial: false
    stages:
    - commit
    - push
    files: ^noxfile[.]py$
  - id: self_mypy
    name: self_mypy
    entry: nox
    args: [-s, self_mypy, --no-install, --]
    language: system
    pass_filenames: false
    require_serial: true
    stages:
    - manual
    - push
    files: ^.*/[^/]*[.]py$

Update readme
  README.md
Due: none

pyside: fix pyproject.toml
  mari/pyproject.toml
  pyside/pyproject.toml
Due: check_toml

pyside: rebuild on mac
  pyside/stubs/PySide2/QtCharts.pyi
  pyside/stubs/PySide2/QtCore.pyi
  pyside/stubs/PySide2/QtWidgets.pyi
  pyside/stubs/PySide2/__init__.pyi
Due: none

houdini: add missing files
  houdini/README.md
  houdini/pyproject.toml
Due: check_toml

ocio: tick up version
  ocio/pyproject.toml
Due: check_toml

katana: Add a fix for UI4
  katana/stubgen_katana.py
  katana/stubs/UI4/FormMaster/KatanaFactory.pyi
Due: black, self_mypy

Update README
  README.md
Due: none

katana: Update pyproject
  katana/pyproject.toml
Due: check_toml

Add LICENSE.txt
  LICENSE.txt
Due: none

Improve build instructions in README
  README.md
  katana/stubgen_katana.sh
  ocio/stubgen_ocio.sh
  substance_painter/stubgen_substancepainter.sh
Due: none

Introduce KnobT, fix signature for nuke.zoom and nuke.filename, use NodeT instead of Node most places.
  nuke/stubs/nuke-stubs/__init__.pyi
  nuke/stubs/nuke-stubs/_nuke.pyi
Due: none

Update authors and katana README
  houdini/pyproject.toml
  katana/README.md
  katana/pyproject.toml
  nuke/pyproject.toml
Due: check_toml

Update precommit_gen to not require yaml
  .pre-commit-config.yaml
  noxfile.py
Due: check_yaml, precommit_gen

Minor fix
  README.md
  noxfile.py
Due: precommit_gen

removed custom mypy
  README.md
  houdini/stubgen_houdini.sh
  katana/stubgen_katana.sh
  mari/stubgen_mari.sh
  nuke/stubgen_nuke.sh
  ocio/stubgen_ocio.sh
  pyside/stubgen_pyside.sh
  requirements.txt
  stubgenlib.py
  usd/stubgen_usd.sh
Due: none

usd: bump version to 24.5.1
  usd/pyproject.toml
Due: check_toml

usd: do some cleanup
  stubgenlib.py
  usd/stubgen_usd.py
Due: black, self_mypy

usd: do some cleanup
  usd/stubgen_usd.py
Due: black, self_mypy

usd: fix a stupid bug
  usd/stubgen_usd.py
Due: black, self_mypy

usd: improve parsing of typedef and 'using' types
  stubgenlib.py
  usd/stubgen_usd.py
  usd/stubs/pxr/Gf/__init__.pyi
  usd/stubs/pxr/Usd/__init__.pyi
  usd/stubs/pxr/UsdShade/__init__.pyi
Due: black, self_mypy

usd: improve overload matching logic, to add more docstrings
  stubgenlib.py
  usd/stubgen_usd.py
  usd/stubs/pxr/Ar/__init__.pyi
  usd/stubs/pxr/CameraUtil/__init__.pyi
  usd/stubs/pxr/Garch/__init__.pyi
  usd/stubs/pxr/GeomUtil/__init__.pyi
  usd/stubs/pxr/Gf/__init__.pyi
  usd/stubs/pxr/Glf/__init__.pyi
  usd/stubs/pxr/Kind/__init__.pyi
  usd/stubs/pxr/Ndr/__init__.pyi
  usd/stubs/pxr/Pcp/__init__.pyi
  usd/stubs/pxr/Plug/__init__.pyi
  usd/stubs/pxr/PxOsd/__init__.pyi
  usd/stubs/pxr/Sdf/__init__.pyi
  usd/stubs/pxr/Sdr/__init__.pyi
  usd/stubs/pxr/Tf/__init__.pyi
  usd/stubs/pxr/Trace/__init__.pyi
  usd/stubs/pxr/Ts/__init__.pyi
  usd/stubs/pxr/Usd/__init__.pyi
  usd/stubs/pxr/UsdAppUtils/__init__.pyi
  usd/stubs/pxr/UsdGeom/__init__.pyi
  usd/stubs/pxr/UsdHydra/__init__.pyi
  usd/stubs/pxr/UsdImagingGL/__init__.pyi
  usd/stubs/pxr/UsdLux/__init__.pyi
  usd/stubs/pxr/UsdMedia/__init__.pyi
  usd/stubs/pxr/UsdPhysics/__init__.pyi
  usd/stubs/pxr/UsdProc/__init__.pyi
  usd/stubs/pxr/UsdRender/__init__.pyi
  usd/stubs/pxr/UsdRi/__init__.pyi
  usd/stubs/pxr/UsdShade/__init__.pyi
  usd/stubs/pxr/UsdSkel/__init__.pyi
  usd/stubs/pxr/UsdUI/__init__.pyi
  usd/stubs/pxr/UsdUtils/__init__.pyi
  usd/stubs/pxr/UsdVol/__init__.pyi
  usd/stubs/pxr/Usdviewq/__init__.pyi
  usd/stubs/pxr/Work/__init__.pyi
Due: black, self_mypy

usd: Use a new approach for overload matching
  usd/stubgen_usd.py
  usd/stubs/pxr/Ar/__init__.pyi
  usd/stubs/pxr/CameraUtil/__init__.pyi
  usd/stubs/pxr/Gf/__init__.pyi
  usd/stubs/pxr/Ndr/__init__.pyi
  usd/stubs/pxr/Pcp/__init__.pyi
  usd/stubs/pxr/Plug/__init__.pyi
  usd/stubs/pxr/PxOsd/__init__.pyi
  usd/stubs/pxr/Sdf/__init__.pyi
  usd/stubs/pxr/Tf/__init__.pyi
  usd/stubs/pxr/Ts/__init__.pyi
  usd/stubs/pxr/Usd/__init__.pyi
  usd/stubs/pxr/UsdAppUtils/__init__.pyi
  usd/stubs/pxr/UsdGeom/__init__.pyi
  usd/stubs/pxr/UsdImagingGL/__init__.pyi
  usd/stubs/pxr/UsdMedia/__init__.pyi
  usd/stubs/pxr/UsdPhysics/__init__.pyi
  usd/stubs/pxr/UsdRi/__init__.pyi
  usd/stubs/pxr/UsdShade/__init__.pyi
  usd/stubs/pxr/UsdSkel/__init__.pyi
  usd/stubs/pxr/UsdUtils/__init__.pyi
  usd/stubs/pxr/Vt/__init__.pyi
Due: black, self_mypy

usd: tweak overload finding logic to avoid the same overload being used twice
  usd/stubgen_usd.py
  usd/stubs/pxr/Gf/__init__.pyi
  usd/stubs/pxr/Plug/__init__.pyi
  usd/stubs/pxr/Sdf/__init__.pyi
  usd/stubs/pxr/Ts/__init__.pyi
  usd/stubs/pxr/Usd/__init__.pyi
  usd/stubs/pxr/UsdSkel/__init__.pyi
Due: black, self_mypy

usd: indicate positional-only arguments
  stubgenlib.py
  usd/stubgen_usd.py
  usd/stubs/pxr/Ar/__init__.pyi
  usd/stubs/pxr/CameraUtil/__init__.pyi
  usd/stubs/pxr/Garch/__init__.pyi
  usd/stubs/pxr/GeomUtil/__init__.pyi
  usd/stubs/pxr/Gf/__init__.pyi
  usd/stubs/pxr/Glf/__init__.pyi
  usd/stubs/pxr/Kind/__init__.pyi
  usd/stubs/pxr/Ndr/__init__.pyi
  usd/stubs/pxr/Pcp/__init__.pyi
  usd/stubs/pxr/Plug/__init__.pyi
  usd/stubs/pxr/PxOsd/__init__.pyi
  usd/stubs/pxr/Sdf/__init__.pyi
  usd/stubs/pxr/Sdr/__init__.pyi
  usd/stubs/pxr/Tf/__init__.pyi
  usd/stubs/pxr/Trace/__init__.pyi
  usd/stubs/pxr/Ts/__init__.pyi
  usd/stubs/pxr/Usd/__init__.pyi
  usd/stubs/pxr/UsdAppUtils/__init__.pyi
  usd/stubs/pxr/UsdGeom/__init__.pyi
  usd/stubs/pxr/UsdHydra/__init__.pyi
  usd/stubs/pxr/UsdImagingGL/__init__.pyi
  usd/stubs/pxr/UsdLux/__init__.pyi
  usd/stubs/pxr/UsdMedia/__init__.pyi
  usd/stubs/pxr/UsdPhysics/__init__.pyi
  usd/stubs/pxr/UsdRender/__init__.pyi
  usd/stubs/pxr/UsdRi/__init__.pyi
  usd/stubs/pxr/UsdSchemaExamples/__init__.pyi
  usd/stubs/pxr/UsdShade/__init__.pyi
  usd/stubs/pxr/UsdSkel/__init__.pyi
  usd/stubs/pxr/UsdUI/__init__.pyi
  usd/stubs/pxr/UsdUtils/__init__.pyi
  usd/stubs/pxr/Usdviewq/__init__.pyi
  usd/stubs/pxr/Vt/__init__.pyi
  usd/stubs/pxr/Work/__init__.pyi
Due: black, self_mypy

usd: address an edge case with templated types
  stubgenlib.py
  usd/stubgen_usd.py
  usd/stubs/pxr/Gf/__init__.pyi
  usd/stubs/pxr/Pcp/__init__.pyi
  usd/stubs/pxr/Sdf/__init__.pyi
  usd/stubs/pxr/Tf/__init__.pyi
  usd/stubs/pxr/Ts/__init__.pyi
  usd/stubs/pxr/Usd/__init__.pyi
  usd/stubs/pxr/UsdGeom/__init__.pyi
  usd/stubs/pxr/UsdShade/__init__.pyi
  usd/stubs/pxr/UsdUtils/__init__.pyi
Due: black, self_mypy

usd: fix another edge case
  stubgenlib.py
  usd/stubgen_usd.py
Due: black, self_mypy

usd: fix a bunch of bugs
  usd/stubgen_usd.py
  usd/stubs/pxr/Ar/__init__.pyi
  usd/stubs/pxr/CameraUtil/__init__.pyi
  usd/stubs/pxr/Garch/__init__.pyi
  usd/stubs/pxr/GeomUtil/__init__.pyi
  usd/stubs/pxr/Gf/__init__.pyi
  usd/stubs/pxr/Glf/__init__.pyi
  usd/stubs/pxr/Kind/__init__.pyi
  usd/stubs/pxr/Ndr/__init__.pyi
  usd/stubs/pxr/Pcp/__init__.pyi
  usd/stubs/pxr/Plug/__init__.pyi
  usd/stubs/pxr/PxOsd/__init__.pyi
  usd/stubs/pxr/Sdf/__init__.pyi
  usd/stubs/pxr/Sdr/__init__.pyi
  usd/stubs/pxr/Tf/__init__.pyi
  usd/stubs/pxr/Trace/__init__.pyi
  usd/stubs/pxr/Ts/__init__.pyi
  usd/stubs/pxr/Usd/__init__.pyi
  usd/stubs/pxr/UsdAppUtils/__init__.pyi
  usd/stubs/pxr/UsdAppUtils/complexityArgs.pyi
  usd/stubs/pxr/UsdGeom/__init__.pyi
  usd/stubs/pxr/UsdImagingGL/__init__.pyi
  usd/stubs/pxr/UsdLux/__init__.pyi
  usd/stubs/pxr/UsdMedia/__init__.pyi
  usd/stubs/pxr/UsdPhysics/__init__.pyi
  usd/stubs/pxr/UsdRender/__init__.pyi
  usd/stubs/pxr/UsdRi/__init__.pyi
  usd/stubs/pxr/UsdShade/__init__.pyi
  usd/stubs/pxr/UsdSkel/__init__.pyi
  usd/stubs/pxr/UsdUtils/__init__.pyi
  usd/stubs/pxr/Usdviewq/__init__.pyi
  usd/stubs/pxr/Vt/__init__.pyi
  usd/stubs/pxr/Work/__init__.pyi
Due: black, self_mypy

usd: add more implicit types for vectors
  usd/stubgen_usd.py
  usd/stubs/pxr/Usd/__init__.pyi
  usd/stubs/pxr/UsdGeom/__init__.pyi
  usd/stubs/pxr/UsdSkel/__init__.pyi
  usd/stubs/pxr/Vt/__init__.pyi
Due: black, self_mypy

usd: remove unneeded uses of Self
  usd/mypy.ini
  usd/stubgen_usd.py
  usd/stubs/pxr/Pcp/__init__.pyi
  usd/stubs/pxr/Sdf/__init__.pyi
  usd/stubs/pxr/UsdSchemaExamples/__init__.pyi
  usd/stubs/pxr/Usdviewq/__init__.pyi
  usd/stubs/pxr/Vt/__init__.pyi
Due: black, self_mypy

usd: fix up more proxy types
  stubgenlib.py
  usd/stubgen_usd.py
  usd/stubs/pxr/Sdf/__init__.pyi
  usd/stubs/pxr/UsdShade/__init__.pyi
Due: black, self_mypy

usd: fix more invalid names
  stubgenlib.py
  usd/mypy.ini
  usd/stubgen_usd.py
  usd/stubs/pxr/Pcp/__init__.pyi
  usd/stubs/pxr/Sdf/__init__.pyi
  usd/stubs/pxr/Usd/__init__.pyi
Due: black, self_mypy

usd: fix another outlier
  stubgenlib.py
  usd/stubgen_usd.py
  usd/stubs/pxr/UsdUtils/__init__.pyi
Due: black, self_mypy
